@charset "UTF-8";

/* 全体の設定 */

html {
    font-size: 67.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Noto Serif JP", serif;
    background-image: repeating-linear-gradient(#f5f5f5,
            #f5f5f5 2px,
            #eaeaea 2px,
            #eaeaea 4px);
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

/* 汎用クラス */

.inner {
    padding-left: 5.6%;
    padding-right: 5.6%;
}

.top_logo {
    max-width: 120%;
    display: block;
    margin: 0 auto;
}

/* ヘッダー */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 20px solid #003319;
}

header h1 {
    width: 150px;
}

header .menu_btn {
    width: 26px;
    height: 26px;
    z-index: 10;
}

header .menu_btn span {
    display: block;
    background-color: #003319;
    height: 2px;
    transition: 0.3s;
}

.on header .menu_btn span {
    background-color: #fff;
}


header .menu_btn span:nth-child(2) {
    transform: translateY(10px);
}


header .menu_btn span:last-child {
    transform: translateY(20px);
}

.on header .menu_btn span:first-child {
    transform: translateY(12px) rotate(45deg);
}

.on header .menu_btn span:nth-child(2) {
    display: none;
}

.on header .menu_btn span:last-child {
    transform: translateY(10px) rotate(-45deg);
}

/* ナビ */

nav {
    background-color: rgba(0, 51, 25, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 5;
}

.on nav {
    opacity: 1;
    visibility: visible;
}

nav img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

nav ul li {
    text-align: center;
    font-size: 3.5rem;
    line-height: 2;
    border-bottom: 2px dashed #fff;
}

nav ul li a {
    color: #fff;
    display: block;
}

/* TOP */

.about {
    font-size: 85%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.about_title {
    margin-bottom: 30px;
}

/* メニュー */

.menu_img .slider {
    margin-top: 50px;
    margin-bottom: 20px;
}

.menu_img .slider li {
    padding: 0;
}

.slider img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.title {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.menu_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.menu_list {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.menu_list h3 {
    font-size: 1.1em;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-align: left;
    margin: 0 0 10px 0;
}

.menu_grid dl {
    margin: 10px 0;
}

.menu_grid dt {
    float: left;
    clear: left;
    width: 65%;
    text-align: left;
    font-size: 0.95em;
    margin: 0;
}

.menu_grid dd {
    float: right;
    margin: 0;
    width: 35%;
    text-align: right;
    font-size: 0.95em;
}

.menu_grid dl::after {
    content: "";
    display: block;
    clear: both;
}

.menu_repair_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px 100px 20px;
    border-top: 3px solid #003319;
    border-bottom: 3px solid #003319;
    margin: 100px 0 100px 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.menu_repair_content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.menu_repair_text {
    max-width: 90%;
}

.midasi {
    font-size: larger;
    font-weight: bold;
}

.menu_repair_text p {
    padding-top: 10px;
}

#reservation {
    margin-top: 100px;
    margin-bottom: 50px;
}


/* アクセス */

.top_access {
    max-width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    text-align: center;
}

.access_content img {
    margin-bottom: 24px;
}

.access_text {
    font-weight: bold;
}

.access_text img {
    margin-top: 20px;
    margin-bottom: 24px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

.back-to-top img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #003319;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #004d25;
}

/* モーダル全体 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* モーダル内容 */
.modal-content {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

/* フォーム */
form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}




@media screen and (min-width:1025px) {
    .top_logo {
        width: 500px;
    }

    nav {
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        width: auto;
        height: auto;
        position: static;
    }

    nav img {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        border-bottom: none;
        font-size: 1.6rem;
        width: 18%;
    }

    nav ul li a {
        background-color: #003319;
    }

    header {
        justify-content: center;
    }

    header .menu_btn {
        display: none;
    }

    .inner h1 {
        width: 50%;
        margin-top: 50px;
    }

    .about {
        display: inline-block;
        padding: 50px;
        font-size: 100%;
        margin-top: 150px;
        margin-bottom: 150px;
        border-left: 15px solid #003319;
        border-right: 15px solid #003319;
    }

    .menu_img .slider {
        margin-bottom: 100px;
    }

    .menu_repair_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        gap: 50px;
        background-color: transparent;
    }

    .menu_repair_content img {
        width: 500px;
        margin-bottom: 0;
    }

    .menu_repair_text {
        max-width: 600px;
        padding: 20px 30px;
        background-color: rgba(255, 255, 255, 0.7);

    }

    .menu_grid {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
        gap: 30px;
    }

    .menu_list {
        padding: 20px;
    }

    .menu_list h3 {
        font-size: 1.2em;
    }

    .menu_grid dt,
    dd {
        font-size: 1em;
    }

    .top_access {
        max-width: 1180px;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 150px;
        font-size: 100%;
        text-align: left;
    }

    .top_access .access_content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .top_access img {
        width: 50%;
        margin-right: 30px;
    }

    .access_text {
        width: 50%;
    }

    .access_text img {
        width: 500px;
        margin-top: 20px;
    }

    /* body {
        padding: 40px;
    } */

    .modal-content {
        margin: 5% auto;
    }

    form label {
        font-size: 16px;
    }

    form input,
    form textarea {
        font-size: 16px;
    }

    button {
        font-size: 18px;
    }

    /*=====min-width:1025px=====*/
}

/* フッター */

footer {
    background-color: #003319;
    margin-top: 160px;
    padding-top: 32px;
    padding-bottom: 32px;
}

footer .footer_logo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

footer .footer_nav {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

footer .footer_nav li {
    line-height: 2;
}

footer .footer_nav a {
    color: #fff;
}

footer small {
    color: #fff;
    display: block;
    text-align: center;
}

@media screen and (min-width:600px) {
    footer .footer_nav {
        display: flex;
        width: auto;
        justify-content: center;
    }

    footer .footer_nav li a {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*=====min-width:600px=====*/
}